future
numpy >= 1.2
pydicom >= 0.9.9
matplotlib
six >= 1.5
dicompyler-core == 0.5.3
Jinja2
Requests
Tornado == 4.4.2
PyYaml
bokeh >=0.12.10, <0.12.15
python-dateutil
psycopg2
scipy
shapely[vectorized]
statsmodels