future
numpy >= 1.2
pydicom >= 0.9.9
matplotlib
six >= 1.5
dicompyler-core == 0.5.3
Jinja2
Requests
Tornado
PyYaml
bokeh
python-dateutil
psycopg2
fuzzywuzzy[speedup]
scipy
shapely[vectorized]
statsmodels